<!DOCTYPE html>
<html lang="en">

<%- include('head'); %>

  <body class="lime loaded">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <div id="login-page" class="row">

      <div class="z-depth-4 card-panel col s12">
        <!-- Cabeçalho -->
        <div class="input-field center">
          <img src="/images/login-logo.png" alt="" class="responsive-img valign profile-image-login">
          <p class="center login-form-text">Welcome
            <%= user %>
          </p>
          <a href="/files/build" class="waves-effect waves-light btn"><i class="material-icons left">add_circle</i>Upload File</a>
          <a href="/account/logout" class="waves-effect waves-light btn"><i class="material-icons right">exit_to_app</i>Logout</a>
        </div>

        <!-- Lista -->
        <ul class="collection">
          <% for(var key in list) { %>
          <% var build = list[key] %>

            <li class="collection-item avatar">
              <i class="material-icons circle"><%= build.icon %></i>
              <span class="title"><%= build.name %></span>
              <p>
                Date: <%= build.date %> <br>
                Time: <%= build.time %> <br>
                Security Hash: <%= build.hash %>
              </p>

              <div class="secondary-content">
                <a href= <%= "/files/update/" + key %> <i class="material-icons">cloud_upload</i></a>
                <a href= <%= "/files/delete/" + key %> <i class="material-icons">delete</i></a>
              </div>

            </li>

            <% }; %>

        </ul>

      </div>
    </div>

    <%- include('scripts'); %>

      <div class="hiddendiv common"></div>
  </body>

</html>