<!DOCTYPE html>
<html lang="en">

<%- include('head'); %>

    <body class="lime loaded">
        <!-- Start Page Loading -->
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <!-- End Page Loading -->

        <div id="login-page" class="row">

            <div class="z-depth-4 card-panel col s12">

                <!-- Cabeçalho -->
                <div class="input-field center">
                    <img src="/images/login-logo.png" alt="" class="responsive-img valign profile-image-login">
                    <p class="center login-form-text">Welcome <%= obj.user %>, select a file to <%= obj.name %> them.</p>
                </div>


                <!-- Formulário -->
                <form class="login-form center col s12" method="post" action=<%= obj.route %> enctype="multipart/form-data">

                    <div class="row">
                        <div class="input-field">
                            <label for="input-file-now">Selecione o arquivo desejado</label>
                            <input type="file" id="input-file-now" class="dropify center" name="build" data-max-file-size="5M" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input type="submit" id="submit" value=<%= obj.name %> class="btn waves-effect waves-light col s12"/>
                        </div>
                    </div>

                    <!-- ========== -->

                    <div class="row">
                        <a class="btn waves-effect waves-light col s12" href="/account">Back</a>
                    </div>

                </form>

            </div>
        </div>

        <div class="hiddendiv common"></div>
    </body>

    <%- include('scripts'); %>

</html>